name: mirror docker image

on:
  workflow_dispatch:
  push:
    branches:
      - "master"
    paths:
      - ".github/workflows/mirror-docker.yaml"
  schedule:
    - cron: "24 7 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  packages: write

jobs:
  dockerhub-mirror:
    strategy:
      fail-fast: true
      max-parallel: 1
      matrix:
        include:
#          - src: "docker.io/python"
#            dest: "ghcr.io/trim21/python"
#            non-overwrite: ""
#            overwrite: '^3\.1\d+\.\d+(-slim)?$'
#            overwrite-skip: "0a|0b|0rc|-rc-|windowsservercore|alpine"

          - src: 'ghcr.io/trim21/python-standalone-mirror-linux-64'
            dest: 'docker.io/trim21/python-standalone-mirror-linux-64'
            non-overwrite: ""
            overwrite: '^.*$'
            overwrite-skip: ""

 #         - src: "docker.io/node"
 #           dest: "ghcr.io/trim21/node"
 #           non-overwrite: ""
 #           overwrite: '^2(2|0).*\d(-slim)?$'
 #           overwrite-skip: "windowsservercore|rc|alpine"

          - src: "ghcr.io/trim21/bangumi-workers"
            dest: "trim21/bangumi-workers"
            non-overwrite: "^(master-.*|v.*)$"
            overwrite: "^(latest|master)$"

    name: "mirror ${{ matrix.dest }}"

    runs-on: ubuntu-latest
    steps:
      - name: Login to DockerHub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        if: ${{ !startsWith(matrix.src, 'docker.io' )}}
        with:
          username: trim21
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - run: wget https://github.com/trim21/try/releases/latest/download/try_linux_amd64.tar.gz -O- | tar xvz
      - run: wget https://github.com/trim21/imagesync/releases/latest/download/imagesync_linux_amd64.tar.gz -O- | tar xvz

      - if: "${{ matrix.non-overwrite != '' }}"
        run: |
          ./try --limit=2 --delay=3s -- \
              ./imagesync --max-concurrent-tags 4 \
              --src "${{ matrix.src }}" --dest "${{ matrix.dest }}" \
              --tags-pattern '${{ matrix.non-overwrite }}'

      - if: "${{ matrix.overwrite != '' }}"
        run: |
          ./try --limit=2 --delay=3s -- \
              ./imagesync --max-concurrent-tags 4 \
              --src "${{ matrix.src }}" --dest "${{ matrix.dest }}" \
              --overwrite --tags-pattern '${{ matrix.overwrite }}' --skip-tags-pattern '${{ matrix.overwrite-skip || '^$' }}'
