name: mirror docker image

on:
  workflow_dispatch:
  push:
    branches:
      - "master"
    paths:
      - ".github/workflows/mirror-docker.yaml"
      - package.json
      - yarn.lock
  schedule:
    - cron: "24 * * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  packages: write

jobs:
  dockerhub-mirror:
    strategy:
      fail-fast: true
      max-parallel: 1
      matrix:
        include:
          - src: "docker.io/python"
            dest: "ghcr.io/trim21/python"
            non-overwrite: ""
            overwrite: '^3\.1.*-slim$'
            overwrite-skip: "0a|0b|0rc|-rc-|windowsservercore|alpine"

          - src: "docker.io/node"
            dest: "ghcr.io/trim21/node"
            non-overwrite: ""
            overwrite: '^(20|22).*\d-slim$'
            overwrite-skip: "windowsservercore|rc|alpine"

          - src: "ghcr.io/trim21/bangumi-workers"
            dest: "trim21/bangumi-workers"
            non-overwrite: "^(master-.*|v.*)$"
            overwrite: "^(latest|master)$"

    name: "mirror ${{ matrix.dest }}"

    runs-on: ubuntu-latest
    steps:
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: trim21
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - run: wget https://github.com/trim21/try/releases/latest/download/try_linux_amd64.tar.gz -O- | tar xvz
      - run: wget https://github.com/trim21/imagesync/releases/latest/download/imagesync_linux_amd64.tar.gz -O- | tar xvz

      - if: "${{ matrix.non-overwrite != '' }}"
        run: |
          ./try --limit=3 --delay=3s -- \
              ./imagesync --src "${{ matrix.src }}" --dest "${{ matrix.dest }}" \
              --tags-pattern '${{ matrix.non-overwrite }}' --max-concurrent-tags 4

      - if: "${{ matrix.overwrite != '' }}"
        run: |
          ./try --limit=3 --delay=3s -- \
              ./imagesync --src "${{ matrix.src }}" --dest "${{ matrix.dest }}" \
              --overwrite --tags-pattern '${{ matrix.overwrite }}' --skip-tags-pattern '${{ matrix.overwrite-skip || '^$' }}'
