name: qbittorrent

on:
  push:
    branches:
      - "master"
    paths:
      - .github/workflows/qbittorrent.yaml
      - qbit-nox.py

env:
  QB_VERSION: "release-5.0.0"
  BOOST_VERSION: "1.86.0"
  QT_VERSION: "6.8.0"

jobs:
  ci:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        lt-version: ["v1.2.19", "v2.0.10"]

    steps:
      - uses: actions/checkout@v4

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.6

      - uses: actions/cache/restore@v4
        id: cache-boost
        with:
          path: ~/.cache/sccache
          key: sccache-ubuntu-22.04-${{ env.QT_VERSION }}-${{ env.BOOST_VERSION }}-${{ matrix.lt-version }}
          restore-keys:
            sccache-ubuntu-22.04-${{ env.QT_VERSION }}-${{ env.BOOST_VERSION }}-
            sccache-ubuntu-22.04-${{ env.QT_VERSION }}-

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: >-
          sudo apt-get install -y
          build-essential pkg-config automake libtool git zlib1g-dev
          libssl-dev cmake ninja-build
          libglew-dev
          llvm-13 llvm-13-dev libclang-13-dev llvm-13-runtime
          clang-13
          llvm-14 llvm-14-dev libclang-14-dev llvm-14-runtime
          clang-14

      - uses: actions/checkout@v4
        with:
          ref: "${{ matrix.lt-version }}"
          repository: arvidn/libtorrent
          path: src/libtorrent
          submodules: recursive

      - uses: actions/checkout@v4
        with:
          ref: "${{ env.QB_VERSION }}"
          repository: qbittorrent/qBittorrent
          path: src/qBittorrent
          submodules: recursive

      - uses: actions/checkout@v4
        with:
          ref: "${{ env.QT_VERSION }}"
          repository: qt/qtbase
          path: src/qtbase
          submodules: recursive

      - uses: actions/checkout@v4
        with:
          ref: "${{ env.QT_VERSION }}"
          repository: qt/qttools
          path: src/qttools
          submodules: recursive

      - run: mkdir archive -p

      - run: >-
          wget https://github.com/boostorg/boost/releases/download/boost-${{ env.BOOST_VERSION }}/boost-${{ env.BOOST_VERSION }}-cmake.tar.xz
          -O archive/boost.cmake.tar.xz -q

      - run: tar x --xz -f archive/boost.cmake.tar.xz
      - run: mv boost-${{ env.BOOST_VERSION }} ./src/boost

      - run: python ./qbit-nox.py qtbase
      - run: python ./qbit-nox.py qttools
      - run: python ./qbit-nox.py boost
      - run: python ./qbit-nox.py lt
      - run: python ./qbit-nox.py qb

      - uses: actions/upload-artifact@v4
        with:
          name: "artifact-${{ env.QB_VERSION }}-${{ matrix.lt-version }}"
          path: |
            build/qb/qbittorrent-nox
